---
layout: page
---
<h2>Team Statistics</h2>
<section>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th class="table table__thead table__thead--small">Score</th>
        <th>Work Units finished</th>
      </tr>
    </thead>
    <tbody>
      {% for team in teamscore %}
      <tr>
        <td id="team-{{ team.team | slugify }}">
          {{ team.team }}
        </td>
        <td>
          {{ team.teamname }}
        </td>
        <td>
          {{ team.score }}
        </td>
        <td>
          {{ team.wu }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

<h2>List of Donators</h2>
<section>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th class="table table__thead table__thead--small">Score</th>
        <th>Work Units finished</th>
      </tr>
    </thead>
    <tbody>
      {% for donator in donorlist %}
      <tr>
        <td id="donator-{{ donator.name | slugify }}">
          {{ donator.name }}
        </td>
        <td>
          {{ donator.score }}
        </td>
        <td>
          {{ donator.wu }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>